@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url(/css/colors.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    font-family: "Source Sans 3";
    font-size: 13px;
}

a {
    text-decoration: none;
    color: var(--text-black);
}

ul {
    list-style-type: none;
}

header {
    /* height: 86px; */
}

.headerMain {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.headerTop {
    width: 1200px;
    height: 20px;
    /* padding: 5px 0 0; */
    display: block;
    z-index: 3;
}

.wrapper {
    /* width: 500px;
    position: fixed;
    top: 0;
    right: 20px; */
    display: block;
}

.wrapper ul {
    height: 15px;
    padding-top: 3px;
    float: right;
    text-align: center;
}

.wrapper li {
    display: inline-block;
    margin-left: 30px;
}

.wrapper ul li a {
    color: var(--text-black);
    font-size: 12px;
    line-height: 15px;
    opacity: .5;
}

.wrapper ul li a:hover {
    opacity: .8;
}

.stickyHeader {
    width: 100vw;
    background-color: white;
    position: fixed;
    padding-top: 20px;
    /* top: 20px; */
    z-index: 2;
    text-align: center;
}

.stickyHeader-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stickyHeader-wrap2 {
    position: relative;
    width: 1200px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}


.stickyHeader::after {
    content: "";
    clear: both;
    display: table;
}

.stickyHeader img {
    width: 210px;
    height: 100%;
}

.input {
    width: 600px;
    height: 42px;
    display: flex;
    /* padding-left: 50px;
    padding-right: 50px;
 */
}

.account-navbar {}

.account-navbar ul {
    display: flex;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
}

.account-navbar ul li a {
    color: var(--text-black);
}

.account-navbar ul li a:hover {
    color: var(--bg-warning);
}

.account-navbar ul li i {
    font-size: 16px;
    padding-right: 3px;
}

.navbar {
    width: 1200px;
    height: 35px;
    margin-top: 66px;
    padding-top: 15px;
    z-index: 1;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul a {
    font-weight: 600;
    font-size: 14px;
    padding: 14px;
}

.navbar ul li a:hover {
    border-bottom: 3px solid var(--bg-warning);
    color: var(--bg-warning);
}

.hr1 {
    margin-top: 15px;
    width: 100vw;
}

main {
    margin-top: 50px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sliderList {
    width: 1200px;
}

.sliderList ul {
    display: flex;
    overflow-x: scroll;
    column-gap: 50px;
}

.sliderList ul li {
    width: 150px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderList ul li a {
    width: 100%;
    height: 100%;
    text-align: center;
}

.sliderList ul li a:hover {
    color: var(--bg-warning);
}

.sliderList ul li a img {
    width: 68px;
    height: 68px;
    border: .5px solid gray;
    border-radius: 50%;
}

.sliderList ul li a img:hover {
    border: 1px solid var(--bg-warning);
}

.mainCards {
    margin-top: 20px;
    width: 1200px;
}

.mainCards ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainCards ul li {
    width: 23%;
    height: 35px;
}

.mainCards ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
}

#card-li1 a {
    color: rgb(1, 71, 1);
    background-color: rgb(178, 245, 162, .3);
}

#card-li2 a {
    color: rgb(173, 93, 1);
    background-color: rgb(247, 232, 205);
}

#card-li3 a {
    color: var(--text-secondary);
    background-color: rgb(245, 191, 218);
}

#card-li4 a {
    color: rgb(160, 66, 4);
    background-color: rgb(247, 232, 205);
}






footer {
    padding: 50px 0 0 0;
    margin-top: 50px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    bottom: 0;
}

.footerList-wrap {
    width: 1200px;
}

.footerList {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footerList div {
    width: 25%;
}

.footerList div>a {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.footerList a:hover {
    text-decoration: underline;
}

.footerList ul {
    line-height: 35px;
}

.footerList ul li a {
    color: white;
}

.copyright {
    width: 100vw;
    font-size: 11px;
    color: white;
    bottom: 0;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    margin-top: 50px;
}